<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
  <a class="navbar-brand" href="#">Blog site name</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">All posts<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles/new">Post a new article</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </div>
</nav>

  <div class="d-flex align-items-center justify-content-center">
    <h1 style="padding: 50px 50px 50px 50px">New Article</h1>
  </div>

  <div class ="d-flex align-items-center justify-content-center">
    <%= form_with model: article do |form| %>
      <div class="d-flex align-items-center justify-content-center"; style = "padding-bottom: 5px">
      <%= form.label :title %>
      </div>
      <div class="d-flex align-items-center justify-content-center"; style = "padding-bottom: 30px">
        <%= form.text_field :title %>
      </div>
      <div style= "padding-bottom: 50px">
      <% article.errors.full_messages_for(:title).each do |message| %>
      <%= message %>
    <% end %>
    </div>
  </div>
  
    <div class="d-flex align-items-center justify-content-center"; style= "padding-bottom: 5px">
      <%= form.label :body %>
    </div>
    <div class="d-flex align-items-center justify-content-center"; style= "padding-bottom: 30px";>
      <%= form.text_area :body %>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <% article.errors.full_messages_for(:body).each do |message| %>
      <%= message %>
      <% end %>
    </div>
    </div>
  
    <div class="d-flex align-items-center justify-content-center"; style="padding: 50px 50px;" >
    <%= form.submit %><% end %>
    </div>

  